.request-details {
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    width: 70%;
    left: 1px;
    background: rgb(252, 252, 181);
    position: absolute;
    padding: 10px;
    direction: rtl;
    border-radius: 10px;
    border: 1px solid gray;
    border-top: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    transition: width 8s;

}

.request-details-back {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%
}