.request {
    margin: 1px;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    padding: 15px;
    color: white;
}

.request>.request-m {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time {
    display: flex;
    font-size: 0.7em;
    align-items: flex-end;
}

.name {
    font-size: 1.3em;
    font-weight: bold;
}

.swipe-back {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-content: center;
    padding: 5px;
}

.onLeft {
    align-items: flex-start;
}

.onRight {
    justify-content: flex-end;
}