body {
    position: relative;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    direction: rtl;
    height: 100%;
}

.head-icon {
    width: 45px;
    height: 45px;
}

.app-header {
    background: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}